.community {
  h2 {
    font-size: 2.8rem;
    margin: 0;
  }
  p {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

article {
  display: flex;
  justify-content: space-between;
  // max-height: 300px;
  border: 1px solid $blue;
  border-radius: 10px;
  padding: 50px;
  h3 {
    margin: 0;
  }
}

.flex-end {
  flex-direction: row-reverse;
  margin: 50px 0;
}

.article-text {
  max-width: calc(60% - 25px);
  h3 {
    font-size: 2.4rem;
  }
  p {
    font-size: 2rem;
  }
}

.figure {
  max-width: calc(40% - 25px);
  overflow: hidden;
  img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 700px) {
  .article-text {
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 600px) {
  article,
  .flex-end {
    flex-direction: column;
  }

  .article-text,
  .figure {
    max-width: 100%;
  }
}
